.footer-section {
  background: #ffffff;
  padding: 60px 80px;
  text-align: center;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: stretch;
}
.card {
  background: #ebcfcf;
  border-radius: 12px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
   height: 100%;
}
.card-content {
  padding: 20px;
}
.card-title h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #080808;
}
.card-desc p {
  font-size: 14px;
  color: #111111;
}
.card-link {
  display: inline-block;
  margin-top: 12px;
  font-weight: 600;
  color: #0067b8;
  text-decoration: none;
}
